<div class="main-body">
    <div class="container">
        <div class="top-content">
          <h1>404</h1>
          <h3>Page Not Found!</h3>
        </div>
        <img src="assets/img/bg-404.jpg" alt="not found" />
        <div class="bottom-text">
          <p>
            Maaf, Halaman yang ada cari saat ini sedang tidak ada. Mohon kembali ke halaman utama!
          </p>
          <div mat-dialog-actions class="action">
            <button mat-raised-button color="warn" (click)="gotoHomePage()" type="button" >Back</button>
          </div>
        </div>
      </div>
</div>
