.example-spacer { flex: 1 1 auto; }
.main-body { padding: 76px 21px 0; margin: 0 auto; max-width:1348px; min-height: calc(100vh - 64px);}
.action { display: flex; gap: 5px; }

.title-page{text-align: center; text-transform: uppercase; font-weight: 700;}


.container {
    max-width: 400px;
    padding: 2rem;
    margin: auto;
    display: grid;
    color: var(--text-dark);
  }
  
  .top-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .top-content h1 {
    font-size: 4rem;
    font-weight: 900;
  }
  .container h3 {
    font-size: 2rem;
    font-weight: 900;
  }
  .container img {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  
  .bottom-text {
    display: grid;
    gap: 2rem;
    place-content: baseline;
  }
  .bottom-text p {
    font-variation-settings: 1rem;
  }
  
  .bottom-text button {
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--extra-light);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .bottom-text button:hover {
    background-color: var(--primary-color-dark);
  }
  
  @media (min-width: 640px) {
    nav {
      max-width: 1000px;
    }
    .container {
      max-width: 1200px;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    .container img {
      max-width: 550px;
      grid-area: 1/1/3/2;
    }
    .bottom-text {
      max-width: 300px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      column-gap: 5rem;
    }
    .top-content h1 {
      font-size: 6rem;
    }
    .top-content h3 {
      font-size: 2.5rem;
    }
  }