.footer-all { margin-top: 13px; position: relative; z-index: 2; background-color: #2f2f2f; color: #bdbdbd; font-size: 14px; border-top: 0; padding: 20px; font-family: Arial, sans-serif; letter-spacing: 1px; }
.content_center { display: flex; justify-content: center; align-items: center; }
.footer-all-follow, .footer-all-member { padding-top: 4px; }
.faf-label { text-align: center; margin-bottom: 3px; }
.faf-list { display: flex; justify-content: center; }
.footer-all a, .footer-all a:hover { color: #fff; }
.faf-icon { line-height: 0; margin: 5px; display: block; }
.faf-icon svg { width: 28px; height: 28px; }
.footer-all-info { border-top: 1px solid #424242; border-bottom: 1px solid #424242; margin: 10px 0 15px; padding: 5px 0; }
.footer-all-info a { margin: 5px; text-decoration: none; }
.footer-all a, .footer-all a:hover { color: #fff; text-decoration: none;}
.footer-all-copyright { text-align: center; }
.footer-all-copyright * { font-size: 14px; line-height: 22px; display: inline; }
.fam-parent { text-align: center; margin-bottom: 5px; }
.fam-child, .footer-all-info { display: flex; flex-wrap: wrap; justify-content: center; }
.fam-child .flex_ori { background-color: transparent; margin: 10px; }
.fam-child * { line-height: 0; display: flex; justify-content: center; align-items: center; }
.fam-child img { position: relative; width: auto; height: 20px; }



.faf-fb { fill: #4867aa; }
.faf-tw { fill: #fff; }
.faf-ig { fill: #a935af; }
.faf-yt { fill: #d20001; }


@media screen and (min-width:0px) and (max-width:1023px){
    footer.footer-all {
        padding-bottom: 20px;
    }
}
    
@media screen and (min-width: 1024px) {
   
}