<div class="main-body">

    <h1 class="title-page">Halaman Login</h1>

    <div class="container-logo-login">
        <div class="frame-login-logo">
            <img src="https://thevivanetworks.com/img/logo-vivanetworks.png" alt="Logo thevivanetworks">
        </div>
    </div>

    <div class="wrapper">
        <div class="login-form-container">
            <h3 class="title-page">Masuk</h3>
            <form [formGroup]="personLoginForm">
                <div mat-dialog-content class="content">
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput type="text" placeholder="Ex. endriwidada" formControlName="username" value="">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Ex. endri123" type="password" formControlName="password" value="">
                        </mat-form-field>
                    </div>
                </div>
                <div class="action">
                    <button mat-raised-button color="primary" (click)="onLogin()">login</button>
                </div>
            </form>
        </div>
    </div>

</div>
