.example-spacer { flex: 1 1 auto; }
.main-body { padding: 76px 21px 0; margin: 0 auto; max-width:1348px; min-height: calc(100vh - 64px);}
.action { display: flex; gap: 5px; }

.title-page{text-align: center; text-transform: uppercase; font-weight: 700;}

h1{display: none;}

.frame-login-logo{position:relative; width: 300px;}
.frame-login-logo::before{padding-top:calc(13/30*100%); content:''; display:block;}
.frame-login-logo img, .frame-login-logo svg{position:absolute; top:0; bottom:0; width:100%; height:100%; object-fit:cover;}


.container-logo-login{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.content {
    padding-top: 10px;
  }
  .row {
    display: flex;
    gap: 10px;
    mat-form-field { width: 100%; }
  }
  .action {
    padding: 0px 25px 20px;
    button { flex: 1; }
  }

.wrapper{
    display: flex;
    justify-content: center;
  }
  
  .wrapper .login-form-container{
    margin-top: 21px;
    width: 300px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }