.example-spacer { flex: 1 1 auto; }
.main-body { padding: 76px 21px 0; margin: 0 auto; max-width:1348px; min-height: calc(100vh - 64px);}
.action { display: flex; gap: 5px; }

.title-page{text-align: center; text-transform: uppercase; font-weight: 700;}

.wrapper{
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .real-info{
  width: 100%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .real-info .info,
.wrapper .real-info .company{
  margin-bottom: 25px;
}

.wrapper .real-info .info h3,
.wrapper .real-info .company h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .real-info .info_data,
.wrapper .real-info .company_data{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 13px;
}

.wrapper .real-info .info_data .data,
.wrapper .real-info .company_data .data{
  width: 45%;
}

.wrapper .real-info .info_data .data h4,
.wrapper .real-info .company_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .real-info .info_data .data p,
.wrapper .real-info .company_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.mdc-dialog__actions{padding: 0; min-height: auto;}
.btn-action-container{display: flex; gap: 13px;}

