<div class="main-body">
    <h1 class="title-page">Daftar Detail Karyawan Viva.co.id</h1>

    <div class="wrapper">
        <div class="real-info">
            <div class="info">
                <h3>Informasi Umum</h3>
                <div class="info_data" *ngFor="let data of dataSource;">
                  <div class="data">
                    <h4>Username</h4>
                    <p>{{ data.username }}</p>
                  </div>
                  <div class="data">
                    <h4>Email</h4>
                    <p>{{ data.email }}</p>
                  </div>
                  <div class="data">
                    <h4>First Name</h4>
                    <p>{{ data.firstName }}</p>
                  </div>
                  <div class="data">
                    <h4>Last Name</h4>
                    <p>{{ data.lastName }}</p>
                  </div>
                </div>
            </div>
          
            <div class="company">
                <h3>Informasi Kekaryawanan</h3>
                <div class="company_data" *ngFor="let data of dataSource;">
                  <div class="data">
                    <h4>Birth Date</h4>
                    <p>{{ data.dob | date }}</p>
                  </div>
                  <div class="data">
                    <h4>Status</h4>
                    <p>{{ data.status }}</p>
                  </div>
                  <div class="data">
                    <h4>Group</h4>
                    <p>{{ data.group }}</p>
                  </div>
                  <div class="data">
                    <h4>Gender</h4>
                    <p>{{ data.gender }}</p>
                  </div>
                  <div class="data">
                    <h4>Description</h4>
                    <p>{{ data.description }}</p>
                  </div>
                  <div class="data">
                    <h4>Basic Salary</h4>
                    <p>{{ data.salary | currency:'Rp. ' }}</p>
                  </div>
                </div>
            </div>
            <div class="btn-action-container">
              <div mat-dialog-actions class="action">
                  <button mat-raised-button color="warn" (click)="goBack()" type="button" >Back</button>
              </div>
              <div mat-dialog-actions class="action" *ngFor="let data of dataSource;">
                  <button mat-raised-button color="primary" (click)="openEditForm(data)" type="button" >Edit</button>
              </div>
            </div>
        </div>
    </div>
</div>

