<mat-toolbar class="header">
  <div class="frame-logo-viva">
    <img src="https://thevivanetworks.com/prototype/vivanetworks/img/logo-vivacoid.png" alt="Logo Viva.co.id">
  </div>
  <div class="frame-logo-logout" (click)="destroySessionLogin()" *ngIf="isLogin">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="logout"><path d="M32 52.72a20.43 20.43 0 0 1-14.13-35.17 1 1 0 0 1 1.42 0 1 1 0 0 1 0 1.41 18.42 18.42 0 1 0 25.48 0 1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0A20.43 20.43 0 0 1 32 52.72Z"></path><path d="M32 34a1 1 0 0 1-1-1V12.28a1 1 0 0 1 2 0V33a1 1 0 0 1-1 1Z"></path></svg>
  </div>
</mat-toolbar>
  
<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>