.header{position: fixed; z-index: 1000; display: flex; justify-content: space-between;}

.frame-logo-viva{position:relative; width: 180px;}
.frame-logo-viva::before{padding-top:calc(85/397*100%); content:''; display:block;}
.frame-logo-viva img, .frame-logo-viva svg{position:absolute; top:0; bottom:0; width:100%; height:100%; object-fit:cover;}

.frame-logo-logout{position:relative; width: 50px;}
.frame-logo-logout::before{padding-top:100%; content:''; display:block;}
.frame-logo-logout svg{position:absolute; top:0; bottom:0; width:100%; height:100%; object-fit:cover; fill: red;}
.frame-logo-logout:hover svg{cursor: pointer; fill: rgb(200, 0, 0);}


@media screen and (min-width:0px) and (max-width:1023px){
}

@media screen and (min-width: 1024px) {

}