<div class="main-body">
  
      <h1 class="title-page">Daftar Karyawan Viva.co.id</h1>
      
      <div class="option-main">
        <form [formGroup]="searchForm" class="input-container">
          <input matInput (keyup.enter)="applyFilter($event)" placeholder="Search Employee" #input class="searchResult" formControlName="searchInput">
        </form>
        <button class="btn btn-add-emp" color="primary" mat-raised-button (click)="openAddEditEmpForm()">
          ADD EMPLOYEE
        </button>
      </div>
  
  <!-- Tabel Daftar Karyawan -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <!-- List Data Employee Column -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row"> {{row.username}}</td>
        </ng-container>
  
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row">{{row.firstName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row"> {{row.lastName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row"> {{row.email}}</td>
        </ng-container>
  
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row"> {{row.dob | date}}</td>
        </ng-container>
  
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Basic Salary </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row"> {{row.salary | currency:'Rp. '}}</td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row"> {{row.status}}</td>
        </ng-container>
  
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> gender </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row"> {{row.gender}}</td>
        </ng-container>
  
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row"> {{row.description}}</td>
        </ng-container>
  
        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
          <td class="data-tabel-el" (click)="gotoEmpDetail(row.id)" mat-cell *matCellDef="let row"> {{row.group}}</td>
        </ng-container>
  
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditForm(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  <!-- End Tabel Daftar Karyawan -->
  </div>