.example-spacer { flex: 1 1 auto; }
.main-body { padding: 76px 21px 0; margin: 0 auto; max-width:1348px; min-height: calc(100vh - 64px);}
.action { display: flex; gap: 5px; }

.title-page{text-align: center; text-transform: uppercase; font-weight: 700;}

.option-main{display: grid; grid-template-columns: 1fr; margin-bottom: 13px; gap: 21px;}
.table-container{overflow-x: scroll;}
.input-container{box-shadow: 0 5px 13px rgb(0 0 0 / 21%); width: 100%; border-radius: 34px; background-color: #fcfcfc; overflow: hidden; }
.input-container input{border: none; width: 100%; padding: 8px 13px; border-radius: 34px;}
textarea:focus, input:focus{ outline: none; }

.data-tabel-el{cursor: pointer;}

@media screen and (min-width:0px) and (max-width:1023px){
.main-body {padding: 76px 21px 0;}
.btn-add-emp{width: 100%;}
}

@media screen and (min-width: 1024px) {
  .option-main{display: flex; justify-content: space-between;  align-items: center;}
  .input-container{width: 40%;}
  .btn-add-emp{width: 160px;}
}